@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    border: none;
    overflow-x: hidden;
    text-decoration: none;
    font-family: 'Poppins';
}

header{
    background-color: #495199;
    height: 100px;
    display: flex;
    color:#fff;
    align-items: center;
    justify-content: center;
}

.options{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 400px;
}

.options .btn{
    display: flex;
    gap: 20px;
}

button{
    background-color: #6669ff;
    cursor:pointer;
    color:#fff;
    padding: 10px 20px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

button:hover{
    background-color: #898bff;
    transform: translateY(-2px);
}

.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content{
    margin-top: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #454e81;
    color:#fff;
    width: 400px;
    height: 300px;
    max-height: 500px;
    border-radius: 10px;
    gap: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.content a{
    color:#fff;
}

.content a:hover{
    color:#a6a7ff;
    transform: translateY(-2px);
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #6669ff;
    border-radius: 10px;
    border: 1.5px solid #b6b8ff;
}

::-webkit-scrollbar-track{
    background-color: #b6b8ff;
}

.preview{
    display: none;
    background-color: #6669ff;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: all 5s ease-in-out;
}

.content .preview img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.products{
    margin-top: 50px;
    background-color: #6669ff;
    color: #c7c7c7;
    height: 600px;
    width: 1000px;
    border-radius: 15px;
}

.products table{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.products th,
.products td{
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.products th{
    background-color: #6669ff;
    color: #fff;
}