@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins';
    border: none;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.form-exemplo{
    background-color: rgb(233, 233, 233);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #8a8a8a;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.form-exemplo input{
    box-shadow: 1px 1px 1px 1px;
    border-radius: 10px;
}

.form-exemplo input:focus{
    box-shadow: 1px 1px 20px 1px rgb(69, 255, 69);
}

.form-exemplo button{
    margin-top: 15px;
    background-color: #8a8a8a;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form-exemplo button:hover{
    background-color: #585858;
}